<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.meizu.mstore" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <permission android:name="com.meizu.cloud.appcommon.write.settings" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.appcenter.recommend" android:protectionLevel="normal"/>
    <permission android:name="com.meizu.flyme.appcenter.license.WRITE" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.appcenter.license.READ" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.license.WRITE"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.license.READ"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.meizu.mstore.permission.appdownload"/>
    <uses-permission android:name="com.meizu.mstore.permission.appdownload"/>
    <permission android:name="com.meizu.mstore.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.mstore.push.permission.MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ROOT_RECOVERY_STATE"/>
    <permission android:name="com.meizu.flyme.appcenter.permission.action.perform" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.permission.action.perform"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <uses-permission android:name="com.meizu.flyme.permission.UPDATE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.meizu.stats.permission.READ_USAGESTATS"/>
    <uses-permission android:name="com.meizu.stats.permission.WRITE_USAGESTATS"/>
    <application android:allowBackup="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.meizu.flyme.appcenter.AppCenterApplication" android:theme="@style/AppTheme">
        <meta-data android:name="domain" android:value="app"/>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <meta-data android:name="android.3dtouch.launcher_menu" android:resource="@xml/launcher_menu"/>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.search"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.detail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="mstore"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="details" android:scheme="market"/>
                <data android:host="search" android:scheme="market"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/apps/public/detail*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/games/public/detail*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/phone/apps/*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.update"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.download.manage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.special"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.html"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.event"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.INFO"/>
                <category android:name="android.intent.category.APP_MARKET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sdk.meizu.compaign.EXECUTOR"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/download" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/pay" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/share" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/review" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/launch" android:scheme="task"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sdk.meizu.compaign.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="mz_ad_com.meizu.mstore"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.setup.DOWNLOAD_NOTIFY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.updaterecord"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.meizu.mstore" android:path="/search" android:scheme="flyme_3dtouch"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.meizu.flyme.appcenter.action.perform.activity" android:permission="com.meizu.flyme.appcenter.permission.action.perform" android:targetActivity="com.meizu.flyme.appcenter.activitys.AppMainActivity">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.action.perform"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/apps/public/detail*" android:scheme="http"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.meizu.flyme.appcenter.activitys.AppMainTabActivity" android:targetActivity="com.meizu.flyme.appcenter.activitys.AppMainActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.meizu.cloud.base.app.BaseSecondActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppWizardActivity" android:screenOrientation="portrait" android:theme="@style/Theme.NoSmartBar" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.wizard.activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.meizu.mstore.wizard.category"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/settings" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppSettingsPreferenceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/about" android:launchMode="singleTop" android:name="com.meizu.cloud.app.settings.SettingAboutActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppPromptDownloadActivity" android:theme="@style/AppAlertDialog">
            <intent-filter>
                <action android:name="meizu.intent.action.APP_DOWNLOAD_PROMPT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.meizu.cloud.app.activity.FullScreenImageActivity" android:screenOrientation="fullUser" android:theme="@style/TranslucentTheme" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleTask" android:name="com.meizu.flyme.appcenter.activitys.MStorePurchaseActivity" android:theme="@style/Theme.MyTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.meizu.MstorePurchase"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.meizu.cloud.app.settings.SettingNotifyActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppSettingsPreferenceActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.setting.notify"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.meizu.cloud.app.update.exclude.AppUpdateExcludeActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="com.meizu.cloud.app.update.exclude"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:allowTaskReparenting="true" android:label="@string/plugin_name" android:launchMode="singleTask" android:name="com.meizu.flyme.appcenter.desktopplugin.view.PluginActivity" android:screenOrientation="portrait" android:taskAffinity="com.meizu.plugin" android:theme="@style/Theme.TanslucnetWallPaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com.plugin" android:scheme="plugin"/>
            </intent-filter>
        </activity>
        <service android:name="com.meizu.flyme.appcenter.service.MStorePurchaseService">
            <intent-filter>
                <action android:name="com.meizu.interfaces.IMStorePurchaseService"/>
            </intent-filter>
        </service>
        <service android:name="com.meizu.flyme.appcenter.service.PurchaseProxyService">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.services.PurchaseProxyService"/>
            </intent-filter>
        </service>
        <service android:name="com.meizu.flyme.appcenter.service.AppSearchService">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.searchapp"/>
            </intent-filter>
        </service>
        <service android:name="com.meizu.flyme.appcenter.service.LicensingService">
            <intent-filter>
                <action android:name="com.meizu.mstore.license.ILicensingService"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.meizu.cloud.app.service.MultiAppDeleteService" android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.meizu.cloud.app.service.MultiAppDeleteService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.meizu.cloud.app.downlad.AppDownloadService" android:persistent="true">
            <intent-filter>
                <action android:name="com.meizu.mstore.AppDownloadService"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.meizu.flyme.appcenter.recommend" android:exported="true" android:name="com.meizu.flyme.appcenter.recommend.RecommendProvider" android:permission="com.meizu.flyme.appcenter.recommend"/>
        <provider android:authorities="com.meizu.cloud.app.update.exclude" android:exported="true" android:label="@string/app_name" android:name="com.meizu.cloud.app.update.exclude.AppUpdateExcludeProvider" android:writePermission="com.meizu.cloud.appcommon.write.settings"/>
        <provider android:authorities="com.meizu.flyme.appcenter.licenseprovider" android:enabled="true" android:exported="true" android:name="com.meizu.flyme.appcenter.provider.LicenseProvider" android:readPermission="com.meizu.flyme.appcenter.license.READ" android:writePermission="com.meizu.flyme.appcenter.license.WRITE"/>
        <receiver android:name="com.meizu.cloud.push.AppPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE"/>
                <category android:name="com.meizu.mstore"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.meizu.cloud.app.receiver.UpdateCheckReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.center.check.update"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.cloud.center.ignore.update"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.cloud.center.execute.update"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.push.SysAppPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.mstore.intent.mappsupdate"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.base.app.receiver.BootCompletedReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.setup.DOWNLOAD_NOTIFY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.app.update.exclude.ConditionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="auto.update.action"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.meizu.cloud.app.receiver.LaunchReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.appcommon.intent.LAUNCH_APP"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.flyme.appcenter.desktopplugin.presenter.PluginUpdateReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.appcommon.intent.UPDATE_PLUGIN_ICON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.launcher.restore_finish"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.WALLPAPER_COLOR_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.plugin_wallpapercolor_recalculate"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.meizu.update.display.KeyguardHelperActivity" android:theme="@style/MzucActivityNoDisplay"/>
        <activity android:name="com.meizu.cloud.app.share.ResolverActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>
        <service android:exported="false" android:name="com.meizu.update.service.MzUpdateComponentService" android:stopWithTask="false"/>
        <service android:exported="true" android:name="com.meizu.cloud.pushsdk.NotificationService"/>
        <service android:name="com.meizu.cloud.app.jobscheduler.JobSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name="com.meizu.gslb.push.GslbDataRefreshReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.gslb.push.broadcast"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
